@model IEnumerable<BookApp.Dto.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReservationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Name)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Name)
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="buttonsDiv">
    <a class="btn btn-outline-secondary" asp-action="Details" asp-controller="Book" asp-route-id="@ViewBag.BookId">Back to book details</a>
</div>